# Map Basemap API Keys (Optional - Free Esri Dark Gray Canvas & Ocean Bathymetry used with zero watermarks)
VITE_MAPTILER_API_KEY=
VITE_CARTO_API_KEY=

# ORCA FastAPI Backend URL
VITE_API_BASE_URL=http://localhost:8000
